@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://v1.fontapi.ir/css/SFProDisplay");
@import url("https://v1.fontapi.ir/css/SFUIText");

@layer components {
    .max-lines {
        --max-lines: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
    }

    .max-lines_title {
        --max-lines: 2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
    }
}
.font {
    font-family: "Open Sans", sans-serif;
}
* {
    font-family: SFUIText, sans-serif;
}
